body {
  font: normal 13px arial,sans-serif;
  color: black;
  font-weight: normal;
}

#preloader {
  display: none;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 13px;
  line-height: 1.4;
}