body {
  font: normal 13px arial,sans-serif;
}
#wrapper {
  min-width: 960px;
}
header  {
  margin-left: 20px;
}

header h1  {
  font-size: 32px;
  background: url(/img/icon48.png) no-repeat left;
  padding-left: 60px;
  line-height: 48px;
}

header h2  {
  font-size: 0.8em;
  position: absolute;
  top: 50px;
  left: 300px;
}

p {
  font-size: 13px;
  line-height: 1.4;
}

body {
  margin: 0 auto;
  font-family: 'trebuchet MS', 'Lucida sans', Arial;
  font-size: 14px;
  color: #444;
}

#sidebar {
  width: 200px;
  float: left;
  -webkit-user-select: none;
}

#content {
  box-shadow: 0 0 5px #ccc;
  margin-left: 205px;
}

#cirlces-header {
  padding-left: 10px;
  color: #dd4b39;
  font-weight: bold;
  margin-bottom: 5px;
}

#data {
  border-radius: 6px;
  display: inline-block;
  width: 100%;
}

#status {
  margin: 10px;
}

#preloader {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 9999;

}

#preloader > div {
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
  height: 100px;
  top: 100px;
  margin: 0 auto;
}

#preloader p {
  margin-left: 20px;
  position: absolute;
  bottom: 30px;
}

#preloader img {
  margin: 0 auto;
  position: absolute;
  left: 150px;
  bottom: 20px;
}

#usersRendered {
  position: absolute;
  top: 50px;
  right: 20px;
}

#openInNewTab {
  visibility: hidden;
  position: absolute;
  right: 20px;
  top: 5px;
  background-position: 0 0;
  background-image: url(/img/open.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#openInNewTab:hover {
  background-position: -20px 0;
  background-repeat: no-repeat;
}

/*
 Circle CSS
*/
.circle-container {
  background: -webkit-gradient(linear,left top,left bottom,from(#77BB4E),to(#57A02F));
  border: 1px solid #3F980E;
  border-radius: 3px;
  display: inline-block;
  -webkit-border-radius: 3px;
  color: white;
  margin: 2px;
  outline: none;
  padding: 0 1px;
  vertical-align: middle;
  cursor: default;
  -webkit-user-select: none;
}

.circle-container:hover {
  background: -webkit-gradient(linear,left top,left bottom,from(#9ae96b),to(#7cda49));
  border-color: #9BCE7C;
}

.circle-section {
  border-color: #9BCE7C;
  display: inline-block;
  padding: 0 2px 2px 5px;
  border-top: 1px solid #61C8EE;
  color: white;
  cursor: default;
}

.circle-close {
  background: no-repeat url(/img/plus-icon.png) -10px -16px;
  height: 9px;
  width: 9px;
  margin: 3px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.circle-add {
  background-position: -10px -7px;
  background-image: url(/img/plus-icon.png);
  background-repeat: no-repeat;
  height: 10px;
  margin: 3px;
  padding-left: 10px;
  line-height: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #36C;
}

.circle-label {
  vertical-align: middle;
  color: white;
  cursor: default;
  font-size: 13px;
}

/*
 People Paging
*/
.pageBar {
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(bottom, #eee, #ccc);
  padding: 5px;
}

.pageNavigation {
  border-radius: 6px;
}

.pageLabels {
  font-weight: bold;
  padding-left: 5px;
}

.currentPage {
  width: 50px;
}

/*
 Person Header
*/
.person-header {
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.person-row {
  margin: 0;
  padding: 0;
}

.person-row li {
  display: table-cell;
}

.person-row li:nth-child(1) {
  width: 250px;
}

.person-row li:nth-child(2) {
  width: 200px;
}

.person-row li:nth-child(3) {
  width: 300px;
}

.person {
  clear: both;
  height: 64px;
  padding: 6px;
  position: relative;
}
.person:hover {
  background-color: #f7f7f7;
}
.person-image {
  position: absolute;
  top: 7px;
  bottom: 7px;
}
.person-info {
  margin-left: 70px;
}

.person-detail, .person-circles {
  display: block;
}

.person-detail {
  padding-bottom: 3px;
}

.person-detail > div {
  display: inline-block;
}

.person-header .person-row {
  margin-left: 76px;
}

.plus-button {
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  border: 1px solid transparent;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border-image: initial;
  border-radius: 2px;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin-right: 16px;
  margin-bottom: 20px;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  position: relative;
  display: inline-block;
}

.circle-item:hover {
  background-color: #F1F1F1;
  color: #333;
  text-decoration: none;
  position: relative;
}

.circle-link {
  padding-left: 10px;
  display: block;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 13px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}

.circle-icon {
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: 2px;
  cursor: pointer;
  color: #333;
  font-size: 13px;
  line-height: 26px;
  white-space: nowrap;
  background: no-repeat url(/img/circles.png) -15px 0px;
  height: 13px;
  width: 13px;
}

.selected .circle-icon {
  background-position: -1px 0px;
}

.selected .circle-link {
  font-weight: bold;
  color: #DD4B39;
}

.circle-remove {
  background: no-repeat url(/img/plus-icon.png) 0px -18px;
  cursor: pointer;
  height: 11px;
  width: 11px;
  position: absolute;
  right: 5px;
  top: 8px;
}
.circle-remove:hover {
  background-position: 0px -7px;
}