header  {
  display: relative;
}
header  h1  {
  font-size: 32px;
  background: url(/img/icon48.png) no-repeat left;
  padding-left: 48px;
  line-height: 48px;
}
header  h2  {
  font-size: 0.8em;
  position: absolute;
  top: 50px;
  left: 300px;
}

p {
  font-size: 13px;
  line-height: 1.4;
}

body {
  margin: 0 auto;
  font-family: 'trebuchet MS', 'Lucida sans', Arial;
  font-size: 14px;
  color: #444;
}

table {
  border-radius: 6px;
  box-shadow: 0 1px 1px #ccc;         
}
    
td, th {
  padding: 10px;
  text-align: left; 
}

th {
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

td:first-child {
  border-left: 1px solid #ccc;
}
td:last-child  {
  border-right: 1px solid #ccc;
}

td[colspan] {
  border-bottom: 1px solid #ccc;
}

#content {
  margin: 20px;
}

#preloader {
  display: none;
}

#usersRendered {
  float: right;
  padding: 5px;
}

#data {
  display: none;
}

.circle-container {
  background: -webkit-gradient(linear,left top,left bottom,from(#77BB4E),to(#57A02F));
  border: 1px solid #3F980E;
  border-radius: 3px;
  display: inline-block;
  -webkit-border-radius: 3px;
  color: white;
  margin: 2px;
  outline: none;
  padding: 0 1px;
  vertical-align: middle;
  cursor: default;
  -webkit-user-select: none;
}

.circle-section {
  border-color: #9BCE7C;
  display: inline-block;
  padding: 0 2px 2px 5px;
  border-top: 1px solid #61C8EE;
  color: white;
  cursor: default;
}

.circle-image {
  background-position: -14px -14px;
  background-image: url(/img/plus-icon.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  vertical-align: middle;
  width: 13px;
  color: white;
  cursor: default;
}

.circle-close {
  background-position: -28px 0;
  background-image: url(/img/plus-icon.png);
  background-repeat: no-repeat;
  height: 7px;
  width: 7px;
  margin: 3px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.circle-close:hover {
  box-shadow: 0 0 5px black;
  background-color: white;
}

.circle-add {
  background-position: -27px -7px;
  background-image: url(/img/plus-icon.png);
  background-repeat: no-repeat;
  height: 10px;
  margin: 3px;
  padding-left: 10px;
  line-height: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  color: #36C;
}

.circle-label {
  vertical-align: middle;
  color: white;
  cursor: default;
  font-size: 13px;
}

.pageBar {
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(bottom, #eee, #ccc);
  padding: 5px;
}

.pageNavigation {
  border-radius: 6px;
}

.pageLabels { 
  font-weight: bold;
  padding-left: 5px;
}

.pageNavigation button[disabled], .pageNavigation button[disabled]:hover {
  opacity: 0.5;
  cursor: default;
  background-color: rgba(0,0,0,0.05);
	box-shadow: inset rgba(255,254,255,0.4) 0 0.3em .3em,
              inset rgba(0,0,0,0.1) 0 -0.1em .3em, 
							rgba(0,0,0,0.3) 0 .1em 1px, 
							rgba(0,0,0,0.2) 0 .2em 6px; 
}

.currentPage {
  width: 50px;
}