<!DOCTYPE html>
<html>
<title>Circle Management for G+</title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/css/management.css" />
<body>
  <div id="wrapper">
    <header>
      <h1>Circle Management BETA for Google+</h1>
      <h2>by <a href="https://plus.google.com/116805285176805120365/about" target="_blank">+Mohamed Mansour</a></h2>
      <span id="openInNewTab" title="Open in a new tab"></span>
    </header>
    <div id="preloader">
      <div>
        <h2>Loading please wait ... </h2>
        <p id="preloadText"></p>
        <img src="/img/throbber.gif" />
      </div>
    </div>
    <div id="container">
      <div id="sidebar">
        <div role="button" class="plus-button" style="-webkit-user-select: none; ">
          Create Circle
        </div>
        <div id="cirlces-header">Your circles</div>
        <div class="circle-item" id="all">
          <div class="circle-link">
            <div class="circle-icon"></div>
            <span>All</span>
          </div>
        </div>
        <div id="circles-nav">
        </div>
      </div>
      <div id="content">
        <div class="pageBar">
          <span class="pageNavigation"></span>
          <span class="pageLabels">Database: </span>
          <button id="btnReload">Refresh</button>
          <button id="btnDelete">Delete</button>
          <span id="usersRendered"></span>
        </div>
        <div id="status"></div>
        <div id="data">
        </div>
        <div class="pageBar bottomBar">
          <span class="pageNavigation"></span>
        </div>
      </div>
    </div>
  </div>
  <script id="tmpl-circles" type="text/x-jquery-tmpl">
    {{if circles.length > 0}}
    {{each(i, circle) circles}}
    <div class="circle-item">
      <div href="${circle.id}" target="_top" class="circle-link">
        <div class="circle-icon"></div>
        <span>${circle.name}</span>
      </div>
      <span role="button" class="circle-remove"></span>
    </div>
    {{/each}}
    {{/if}}
  </script>
  <script id="tmpl-add-circle-dialog" type="text/x-jquery-tmpl">
    <div class="dialog">
      <h1>Test</h1>
    </div>
  </script>
  <script id="page-navigation-template" type="text/x-jquery-tmpl">
    <span class="pageLabels">Navigation:</span>
    <button class="first">first</button>
    <button class="prev">previous</button>
    <input type="text" class="currentPage" value="${currentPage}" /> / ${totalPages}
    <button class="next">next</button>
    <button class="last">last</button>
    <select class="total">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="250">250</option>
      <option value="500">500</option>
    </select>
  </script>
  <script id="tmpl-table-header" type="text/x-jquery-tmpl">
    <div class="person-header">
      <ul class="person-row">
        <li>Name</li>
        <li>Location</li>
        <li>Employment</li>
        <li>Occupation</li>
      </ul>
    </div>
  </script>
  <script id="circle-template" type="text/x-jquery-tmpl">
    <div class="circle-link">
      <div class="circle-icon"></div>
      <span>${name} <span>(${count})</span></span>
    </div>
    <span role="button" class="circle-remove"></span>
  </script>
  <script id="person-template" type="text/x-jquery-tmpl">
    <div class="person" id="${id}">
      <div class="person-image"><img src="${photo}?sz=64" /></div>
      <div class="person-info">
        <div class="person-detail">
          <ul class="person-row">
            <li><a href="https://plus.google.com/${id}/about" target="_blank">${name}</a></li>
            <li>${location}</li>
            <li>${employment}</li>
            <li>${occupation}</li>
          </ul>
        </div>
        <div class="person-circles">
          {{if circles}}
          {{each(i, circle) circles}}
          <span class="circle-container" cid="${circle.id}">
            <span class="circle-section">
              <span class="circle-label">
                ${circle.name}
              </span>
              &nbsp;
              <span role="button" class="circle-close"></span>
            </span>
          </span>
          {{/each}}
          {{/if}}
          <span class="circle-add">Add to circle</span>
        </div>
      </div>
    </div>
  </script>
  <script type="text/javascript" src="/js/libs/jquery-1.6.3.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="/js/libs/underscore-1.1.6.js"></script>
  <script type="text/javascript" src="/js/libs/backbone.js"></script>
  <script type="text/javascript" src="/js/backbone_chrome_webStorage.js"></script>
  <script type="text/javascript" src="/js/settings.js"></script>
  <script type="text/javascript" src="/js/app/management.js"></script>
  <script type="text/javascript" src="/js/app/models/circle_model.js"></script>
  <script type="text/javascript" src="/js/app/models/contact_model.js"></script>
  <script type="text/javascript" src="/js/app/collections/circles_collection.js"></script>
  <script type="text/javascript" src="/js/app/collections/contacts_collection.js"></script>
  <script type="text/javascript" src="/js/app/views/circle_view.js"></script>
  <script type="text/javascript" src="/js/app/views/contact_view.js"></script>
  <script type="text/javascript" src="/js/app/views/sidebar_view.js"></script>
  <script type="text/javascript" src="/js/app/views/index_view.js"></script>
  <script type="text/javascript">
    App.init();
  </script>
</body>
</html>
